/* VOLLEDIG GRID: 3 kolommen, 5 rijen */
.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.grid-advanced {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* Standaard celstijl */
.cell {
  border: 1px solid rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 600;
  background: #f4f7fa;

  &.input {
    grid-column: span 3;

    input {
      width: 80%;
      height: 50%;
      font-size: 8vh;
    }
  }
}

.red {
  background: crimson;
}
.yellow {
  background: yellow;
}
.green {
  background: mediumseagreen;
}
.brown {
  background: sienna;
}
.blue {
  background: dodgerblue;
  color: white;
}
.pink {
  background: hotpink;
}
.black {
  background: black;
  color: white;
}

.mode {
  background: lightcyan;
}
.turn {
  background: darkorange;
}
