@if (dartPlayer$ | async; as dartPlayer) {
  <div>
    <div class="name">{{dartPlayer.name}}</div>
    @for (score of dartPlayer.score ; track score) {
      <div class="score-row">
        <span class="score">{{score.newScore}}</span>
        @for (d of score.darts; track d) {
          <span class="dart">{{d}}</span>
        }
        @if (score.visitScore > 0) {
          <span class="visit-score">{{score.visitScore===0?'no score':score.visitScore}}</span>
        }
      </div>
    }
    @for (endings of dartPlayer.doubleEndings; track endings) {
      <div class="ending-row">
        @for (endingDart of endings; track endingDart) {
          <span  class="dart ending">
            {{endingDart}}
          </span>
        }
      </div>
    }
  </div>
}
