.game-overall{
  display: flex;
  flex-flow: row nowrap
}

.game-break-info{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.spacer {
  flex: 1
}

.game-points {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  margin: 10px 30px;
  justify-content: space-between;
  border-radius: 50px;
 }

.game-corrections{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 10px 0 0 0;
}

.mat-mdc-outlined-button {
  &.ball {
    margin: 0 5px;
    border-width: 2px;
  }
  &.ball-red {
    border-color: red;
    color: red;
    background-color: #ff000020;
    padding: 40px 60px;
  }
  &.ball-yellow {
    border-color: yellow;
    color: yellow;
    background-color: #ffff0020;
    padding: 40px 60px;
  }
  &.ball-green {

    padding: 40px 60px;
  }
  &.ball-brown {

    padding: 40px 60px;
  }
  &.ball-blue {

    padding: 40px 60px;
  }
  &.ball-pink {
    padding: 40px 60px;
  }
  &.ball-black {
    padding: 40px 60px;
  }
  &.ball-white {
    border-color: white;
    color: white;
    background-color: #FFFFFF20;
    padding: 40px 20px;
  }

  &.active {
    color: dodgerblue;
  }
}
