<div class="main flex-container no-overflow fully-flexible">
  <div class="game">
    <div class="game-input">
      <div class="game-input-selection">
        <button mat-stroked-button (click)="inputMode = 'TABLE'">table</button>
        <button mat-stroked-button (click)="inputMode = 'BOARD'">board</button>

      </div>
      @if (inputMode === 'BOARD') {
        <app-dartsboard></app-dartsboard>
      }
      @if (inputMode === 'TABLE') {
        <app-dartsboard-table></app-dartsboard-table>
      }

    </div>
    <app-darts-scores></app-darts-scores>
  </div>
</div>
<div class="footer fully-inflexible">
  <app-darts-score-history></app-darts-score-history>
</div>
