:host {
  flex: 1
}

.player {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;

  border-radius: 15px;
  margin: 20px;
  padding: 20px;

  align-content: center;

  .name {
    font-size: 2em;
    text-align: center;


  }

  .score {
    font-size: 20vw;
    text-align: center;
  }

  .break {
    text-align: center;
    font-size: 2em;
  }

  .current {
    color: dodgerblue;
  }

  .fault {
    color: deeppink;
  }
}

.stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.pot-history {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  margin: 10px 0;
  min-height: 30px;
  .ball {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-width: 2px;
    border: 2px solid;
    border-radius: 50%;

    &.ball-red {
      border-color: red;
      color: red;
      background-color: red;
    }
    &.ball-yellow {
      border-color: yellow;
      color: yellow;
      background-color: yellow;
    }
    &.ball-green {
      color: greenyellow;
      border-color: greenyellow;
      background-color: greenyellow;
    }

    &.ball-brown {
      border-color: sandybrown;
      color: sandybrown;
      background-color: sandybrown;
    }

    &.ball-blue {
      border-color: deepskyblue;
      color: deepskyblue;
      background-color: deepskyblue;
    }
    &.ball-pink {
      border-color: deeppink;
      color: deeppink;
      background-color: deeppink;
    }
    &.ball-black {
      border-color: gray;
      color: gray;
      background-color: gray;
    }
  }
}
