:host {
  flex: 1
}

.player {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;

  border-radius: 15px;
  margin: 20px;
  padding: 20px;

  align-content: center;

  .name {
    font-size: 2em;
    text-align: center;


  }

  .score {
    font-size: 20vw;
    text-align: center;
  }

  .break {
    text-align: center;
    font-size: 2em;
  }

  .current {
    color: dodgerblue;
  }

  .fault {
    color: deeppink;
  }
}

.stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.pot-history {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin: 10px 0;
  min-height: 30px;
  .ball {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-width: 2px;
    border: 2px solid;
    border-radius: 50%;

    &.ball-red {
      border-color: red;
      color: red;
      background-color: #ff000020;
    }
    &.ball-yellow {
      border-color: yellow;
      color: yellow;
      background-color: #ffff0020;
    }
    &.ball-green {
      border-color: darkgreen;
      color: darkgreen;
      background-color: #00640020;
    }

    &.ball-brown {
      border-color: saddlebrown;
      color: saddlebrown;
      background-color: #8b451320;
    }

    &.ball-blue {
      border-color: darkblue;
      color: darkblue;
      background-color: #00008b20;
    }
    &.ball-pink {
      border-color: deeppink;
      color: deeppink;
      background-color: #ff149320;
    }
    &.ball-black {
      border-color: black;
      color: black;
      background-color: #00000020;

    }
  }
}
