<div class="add-points">
  @if (currentDarts$ | async; as currentDarts) {
    <span class="next-points">
      @if (currentDarts.length > 0) {
        <span class="add" (click)="removeCurrentDarts()"> X </span>
      }
      @for (d of currentDarts; track d) {
        <span class="dart">
          {{d}}
        </span>
      }
      @if (currentDarts.length === 0) {
        <span  class="dart">No score</span>
      }
      <span class="add" (click)="add()">
        add
      </span>
    </span>
  }
</div>
<div class="players">
  <app-darts-player-score [dartPlayer$]="player1$"></app-darts-player-score>
  <app-darts-player-score  [dartPlayer$]="player2$"></app-darts-player-score>
</div>
