<div class="header fully-inflexible icon-menu" >
  <span [routerLink]="['/snooker', 'scoreboard']" ><img src="/assets/snooker.png" width="32px" alt=""></span>
  <span [routerLink]="['/darts', 'scoreboard']" ><img src="/assets/darts.png" width="32px" alt=""></span>
</div>
<div class="main flex-container no-overflow fully-flexible">
  <div class="players">
    <app-player [player$]="player1$"></app-player>
    <app-player [player$]="player2$"></app-player>
  </div>
</div>
<div class="footer fully-inflexible">
  <app-controls></app-controls>
</div>
<div class="game-status">
  <span class="version">V1.0</span>
</div>
